In [21]:
import pandas as pd 
data=pd.read_csv("Desktop/data.csv")

In [27]:
data.head()

,szzs,szzs-1,szzs-2,szzs1,szzs2,gupiao1,gupiao2,gupiao3,gupiao4,gupiao5,...,gupiao291,gupiao292,gupiao293,gupiao294,gupiao295,gupiao296,gupiao297,gupiao298,gupiao299,gupiao300
0,#NAME?,NaN,NaN,3.7527,3.3208,-1.539448,-4.149933,-8.321377,-3.402187,-3.727811,...,-6.849315,2.325581,-5.469679,NaN,2.722772,NaN,NaN,NaN,NaN,NaN
1,3.7527,#NAME?,NaN,3.3208,0.4867,2.801303,4.189944,6.572770,10.943396,4.486785,...,9.243697,-5.113636,6.163522,NaN,1.927711,NaN,NaN,NaN,NaN,NaN
2,3.3208,3.7527,#NAME?,0.4867,0.9258,6.337136,5.898123,-2.055800,9.977324,-9.705882,...,5.769231,3.992016,4.265403,NaN,4.964539,NaN,NaN,NaN,NaN,NaN
3,0.4867,3.3208,3.7527,0.9258,0.2211,1.251490,-1.392405,15.742129,-3.195876,-0.651466,...,1.818182,0.191939,-5.909091,NaN,-0.225225,NaN,NaN,NaN,NaN,NaN
4,0.9258,0.4867,3.3208,0.2211,3.4977,-0.470865,0.770218,0.000000,6.602769,2.360656,...,-0.178571,-1.532567,7.487923,NaN,0.677201,NaN,NaN,NaN,NaN,NaN

In [39]:
datanew=data.drop([0,1,2])

In [40]:
datanew.dropna(axis=1,inplace=True)

In [43]:
datanew.head()

,szzs,szzs-1,szzs-2,szzs1,szzs2,gupiao1,gupiao2,gupiao3,gupiao4,gupiao5,...,gupiao283,gupiao284,gupiao285,gupiao286,gupiao287,gupiao290,gupiao291,gupiao292,gupiao293,gupiao295
3,0.4867,3.3208,3.7527,0.9258,0.2211,1.251490,-1.392405,15.742129,-3.195876,-0.651466,...,-1.113586,5.148515,-3.811075,0.204918,-3.065134,0.990099,1.818182,0.191939,-5.909091,-0.225225
4,0.9258,0.4867,3.3208,0.2211,3.4977,-0.470865,0.770218,0.000000,6.602769,2.360656,...,-0.450450,3.013183,7.585506,0.000000,4.347826,-0.653595,-0.178571,-1.532567,7.487923,0.677201
5,0.2211,0.9258,0.4867,3.4977,0.8635,-2.720284,-0.764331,0.000000,0.299700,5.637412,...,2.036199,2.010969,-2.895814,-0.408998,2.878788,-0.657895,6.261181,4.474708,-1.123596,-1.121076
6,3.4977,0.2211,0.9258,0.8635,-0.8628,2.553191,9.242619,0.000000,3.386454,4.790782,...,9.312639,3.584229,1.717990,0.205339,2.798233,1.655629,3.198653,0.744879,13.522727,1.814059
7,0.8635,3.4977,0.2211,-0.8628,-1.4235,3.615886,1.410106,0.000000,3.275530,0.810185,...,1.419878,0.173010,-0.828553,0.204918,-0.358166,0.000000,1.631321,3.327172,2.802803,3.118040

In [59]:
X=datanew[["szzs","szzs-1","szzs-2","szzs1","szzs2"]]

In [61]:
X.shape

(253, 5)

In [64]:
Y=datanew.drop(["szzs","szzs-1","szzs-2","szzs1","szzs2"],axis=1)

In [66]:
Y.shape

(253, 257)

In [86]:
test=np.array(Y,dtype=float)

In [87]:
test[0,0]

1.251489869

In [88]:
testx=np.array(X,dtype=float)

In [89]:
X.shape

(253, 5)

In [90]:
testx

array([[ 0.4867,  3.3208,  3.7527,  0.9258,  0.2211],
       [ 0.9258,  0.4867,  3.3208,  0.2211,  3.4977],
       [ 0.2211,  0.9258,  0.4867,  3.4977,  0.8635],
       ...,
       [-3.3995, -0.3379, -0.5547, -0.4107, -0.2095],
       [-0.4107, -3.3995, -0.3379, -0.2095,  0.    ],
       [-0.2095, -0.4107, -3.3995,  0.    ,  0.    ]])

In [98]:
testx=np.column_stack((np.ones([testx.shape[0],1]),testx))

In [99]:
testx

array([[ 1.    ,  0.4867,  3.3208,  3.7527,  0.9258,  0.2211],
       [ 1.    ,  0.9258,  0.4867,  3.3208,  0.2211,  3.4977],
       [ 1.    ,  0.2211,  0.9258,  0.4867,  3.4977,  0.8635],
       ...,
       [ 1.    , -3.3995, -0.3379, -0.5547, -0.4107, -0.2095],
       [ 1.    , -0.4107, -3.3995, -0.3379, -0.2095,  0.    ],
       [ 1.    , -0.2095, -0.4107, -3.3995,  0.    ,  0.    ]])

In [100]:
Y=test
X=testx

In [101]:
print(X.shape,Y.shape)

(253, 6) (253, 257)

In [116]:
from numpy import *
beta=np.dot(np.dot(mat(np.dot(X.transpose(),X)).I,X.transpose()),Y)

In [119]:
beta

matrix([[ 0.1402477 ,  0.50852739,  1.12615622, ..., -0.07748273,
         -0.00547352,  0.21630015],
        [ 1.0816859 ,  0.80219923,  0.40296938, ...,  1.02851505,
          1.20339324,  1.12947505],
        [-0.24062651, -0.33680173,  0.22879   , ..., -0.10662138,
         -0.09916978, -0.26126267],
        [ 0.04728311, -0.07288899,  0.09779013, ...,  0.02534147,
          0.06604766, -0.07332731],
        [ 0.05127012,  0.07450616, -0.06580864, ..., -0.11309555,
          0.03730409,  0.05446144],
        [ 0.07685578,  0.03507822,  0.08411766, ..., -0.07153727,
          0.06557888,  0.00849305]])

In [120]:
X.shape

(253, 6)

In [122]:
beta.shape

(6, 257)

In [123]:
Yhat=np.dot(X,beta)

In [130]:
eplison=(Y-Yhat).sum(axis=0)

In [134]:
eplison[0,0]

3.4583447217073626e-14

In [140]:
beta[:,0].shape

(6, 1)

In [143]:
print(X.shape,Y.shape,beta.shape,Yhat.shape)

(253, 6) (253, 257) (6, 257) (253, 257)

In [170]:
np.multiply(Y-Yhat,Y-Yhat).sum(axis=0)

matrix([[   3542.16296313,    5686.78063729,   14284.45396247,
            6514.40176511,    4703.78450008,    4484.25323911,
            2733.80557606,    2193.73087408,    2731.58576136,
            4902.48183517,    9221.40907192,    8334.58197102,
            3176.320197  ,    5495.43772951,   10344.90949566,
            2666.01020744,   10211.98272909,   10014.58597366,
            4244.44585593,    3139.47087664,    6032.07621798,
           11150.25383635,    3918.15793478,    4109.37022797,
            7786.98149142,    4494.95355749,    4414.86496588,
           11490.5531308 ,    3029.01564773,    5866.04930423,
            9325.00957876,    7344.58082936,    5849.61277652,
            4266.6343385 ,    4905.96677026,    5152.37372409,
            5661.79264691,    7187.64623502,    2937.74424597,
            4612.45713174,    3825.77156421,    3333.49779489,
           18564.38348767,    5949.35051077,    9458.33798873,
            3168.24642111,    3867.04926524,    4534.39923393,
            6985.16796124,    9593.40439942,   17918.17152536,
           14117.06738487,    7682.89137249,   17032.61242024,
            7787.93451182,    2742.60301173,    7883.67458009,
           13620.77737634,   13826.14309323,    4237.88941364,
            8491.75644527,    6552.348125  ,    7349.16821123,
            5431.78546622,   11361.67472135,    5471.7886601 ,
            5466.01920603,    7374.79663908,   14567.21825697,
            5189.89915951,   13000.16004634,    6257.5603383 ,
           10227.74564489,    8995.6085784 ,    6931.68745056,
            9508.61449215,   12330.07388009,    7304.33207083,
           14684.07406206,   16387.2855531 ,    4726.55845359,
            6541.76869463,    5127.47645383,    5565.36347698,
           20171.5167662 ,   18271.3352168 ,    7367.33243996,
            8861.90706313,    9526.05373748,   16555.03515271,
            6599.63885789,   15584.39789948,    6219.79300986,
            5585.20606444,   11750.4588861 ,    7587.02031505,
           12006.35630041,   18131.18906201,   18625.37135434,
            6543.47680908,    8162.52329461,    9967.88176244,
            6372.47716428,   16196.19989619,    9451.48988818,
           13724.79233124,    2598.81747465,    5211.21304926,
            2706.07118659,    8015.09275389,    3337.15333296,
            2259.39236614,    3298.63097535,    9683.7485516 ,
            2646.84581819,    8834.59677036,    2043.8069342 ,
            5079.01337679,    4080.29705005,    3091.48805195,
            1992.36777036,    6137.69330242,    4811.22210485,
            4094.79977142,   16480.69545954,    3537.87096139,
            3329.38781154,   13384.11735938,    4293.37223949,
            3991.27904966,    5713.77516574,    3048.28944876,
            6970.63527328,    4716.79151766,    5495.92325031,
            8593.03399159,    7066.08134921,   10725.81330061,
            5779.02088417,    2995.61789943,    5604.77913312,
            3765.82101324,    5736.56791786,    3104.22594494,
            3336.83959304,   16877.54867912,    6265.13174068,
            2928.34527339,    9298.15091031,    2705.94395402,
            7308.14887332,    7401.17078408,    6040.37812098,
            3171.25433047,    7828.03486722,    7281.98980875,
            6815.38325533,    6756.22340466,    8112.93645167,
           14394.4940104 ,    6050.1690094 ,    6485.69288472,
            6096.9155283 ,    7585.93466933,   16530.37533574,
            4657.99620227,    7630.93540119,    6063.59925927,
            4068.76545585,    8128.30384197,    3248.06618635,
            7279.17570448,    6052.614493  ,   10714.45523741,
            3317.6120597 ,    3029.15833937,   11482.04341068,
           11900.03081855,   10196.39107466,    9916.416867  ,
            2042.71382352,   10301.03601238,    2358.01927955,
            5572.63554277,   10366.52212046,    7179.69593612,
            4255.92001858,    7473.04872204,    8954.24866888,
          212843.01285259,    6738.45739307,    3072.35052752,
            2612.80180181,    9639.0420247 ,    6503.40485347,
            6002.69661429,    4726.99019985,    3920.67411046,
           11230.78367483,    4072.36590719,    4781.38609414,
            8509.30743651,    5807.79578119,    1290.99639617,
            5409.59599545,    2114.49933216,    2072.82486272,
            6125.88931793,    1954.42209537,    4501.53964492,
            4710.09139984,    3604.26625687,    7205.9309188 ,
            2524.70597794,    2289.59724104,    6599.67937782,
           10572.27218378,    1545.88684821,    2014.38435246,
            2851.28419244,    3795.57363644,    5129.80730782,
            4018.83360613,    8571.07526531,    1573.73135646,
            5064.57775251,    3944.75367506,    2869.19180569,
            3813.03350426,    6567.73084702,    4013.40469578,
            6161.18674157,    3828.36823668,    7303.65138316,
            5781.29511603,    8013.33938126,    4576.708205  ,
           11747.87356388,    6015.49071805,    2543.27770116,
            1744.28426984,    7071.92373716,    5484.77292051,
            3946.46087618,    3782.21857171,    2533.58658267,
            3480.65123427,    6342.05186887,    6099.37255813,
            5366.88088118,    1900.0770263 ,    3521.11991989,
            2028.57931998,    5169.44847536,    3372.93542163,
            5655.12292565,    4105.00316397]])

In [163]:
Y[0,0]

1.251489869

In [164]:
Yhat[0,0]

0.10952971914167915

In [174]:
beta=pd.DataFrame(beta)

In [178]:
beta.to_csv("Desktop/beta.csv")

In [184]:
eplison=Y-Yhat

In [182]:
eplison=pd.DataFrame(eplison).to_csv("Desktop/eplison.csv")

In [185]:
eplison.shape

(253, 257)